body{
    margin: 0px;
    max-width: 1020px;
}
.portfolio {
    background-color: #2d303a;
    border-bottom: white solid 6px;
    padding: 35px;

}

.portfolio h1 {
    font-family: "Lato Black";
    font-size: 27px;
    color: #666d89;
    letter-spacing: -0.2px;
    margin-bottom: 0px;
}
.portfolio-desc{
    word-wrap: break-word;
    text-align: justify;
    font-family: "Lato Light";
    line-height: 14px;
    color: #767e9e;
    padding-top: 6px;
    padding-bottom: 0px;
}
.filter span{
    font-family: "Lato";
    padding-left: 6px;
    padding-right: 6px;
    font-size: 10px;
    display: inline;
    color: #767e9e;
    border: 1px solid #767e9e;
    border-radius: 5px;
    margin-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.filter .all{
    padding-left:6px;
    padding-right: 6px;
    color: #dedede;
    border: 1px solid #dedede;
}